.container {
  /* width: 200px; */
  /* height: 38px; */
  padding-bottom: 16px;
  padding-left: 10px;
  padding-right: 10px;
  /* max-height: 320px; */
  height: 100%;
  overflow: auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
}
.dragRow {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.dragC {
  margin-left: 10px;
}
.rb {
  width: 90px;
}
.customradiogroup {
  width: 100% !important;
}
.viewButton {
  background: transparent !important;
  border: 0 !important;
  padding: 0 !important;
  margin-left: 12px;
  box-shadow: none !important;
  color: #595959 !important;
}
.filterIcons {
  width: 16px;
  height: 16px;
  /* color: "#595959"; */
}
.rowContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  margin-bottom: 10px;
}
.columnLeft,
.columnRight {
  display: flex;
  flex-direction: column;
  gap: 8px; /* Space between rows in each column */
}
.columnRight {
  margin-right: 30px;
}
.dragRow {
  display: flex;
  align-items: center;
}
.checkbox {
  margin-left: 5px; /* Adjust spacing as needed */
}
/* styles.css */
.checkboxContainer {
  display: flex;
  align-items: center;
}
.checkboxLabel {
  margin-left: 8px;
}

.groupHeader {
  background-color: #ededed;
  border-radius: 8px;
  height: 40px;
}

.groupHeaderAlign {
  margin-left: 10px;
  padding-top: 6px;
}
