.container {
  width: 100%;
  height: 100%;
  padding: 0 12px;
}

.header {
  max-height: 70px;
  height: 100%;
}

.filter {
  max-height: 50px;
  height: 100%;
}

.alignCenter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 100%; */
}

.scrollSection {
  height: calc(100% - 70px - 50px - 20px);
  overflow: auto;
  padding-right: 8px;
}

.viewButton {
  background: transparent !important;
  border: 0 !important;
  padding: 0 !important;
  margin-left: 12px;
  box-shadow: none !important;
  color: #595959 !important;
}

.gridCol {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(339px, 1fr));
  gap: 20px;
  /* padding: 12px 0 0 0; */
  margin-bottom: 16px;
}

/**************new coding**********/
.scrollCont {
  height: calc(100% - 140px);
  overflow-x: auto;
  overflow-y: auto;
  margin-bottom: 16px;
}

.rowBold {
  font-weight: bold;
  background-color: rgb(219, 215, 215) !important;
}

.rowBold td {
  background-color: rgb(219, 215, 215) !important;

}
.group_button {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.footer {
  display: flex;
margin-bottom: 5%;
justify-content: end;
}
.cancel_button {
  width: 7.4rem;
  padding: 4px 0.98rem;
  border-radius: 3px;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
.addProduct_button {
  width: 7.4rem;
  padding: 4px 0.98rem;
  border-radius: 3px;
  color: #fff !important;
  cursor: pointer;
}

.formField {
  margin-bottom: 18px;
}

.drawerHeader {
  display: flex;
  flex-direction: column;
}

.drawerTitle {
  margin: 0;
  color: #141414;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.drawerDescription {
  margin: 0;
  color: #595959;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.072px;
  padding-bottom: 0.625rem;
}

.drawerBodyScroll {
  height: calc(105vh - 180px);
  overflow-y: auto;
  padding-right: 6px;

  scrollbar-width: none;     
  -ms-overflow-style: none;    
}

.drawerBodyScroll::-webkit-scrollbar {
  display: none;              
}