.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.desc {
  font-size: 10px;
  text-align: left;
}
.productInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.name {
  text-align: left;
  font-size: 12px;
}
.prod_ins {
  padding-left: 4px;
}
.grpName {
  font-weight: 600;
  font-size: 10px;
}
